@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

body {
    background-color: bg-gray-100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.x-primary-button,
.x-secondary-button,
.x-danger-button {
    display: inline-block;
}

.button-container,
.field-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

*:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

#welcome h1 {
    font-size: 300%;
    text-indent: 2em;
}

#welcome h2 {
    font-size: 200%;
}

h2 {
    font-size: 200%;
}


#md-content,#welcome a {
    color: blue;
}

#md-content,#welcome p,pre {
    margin: 1em;
}

#md-content,#welcome ul {
    display: block;
    list-style-type: disc;
    text-indent: 1em;
    padding-inline-start: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#md-content,#welcome ol {
    list-style-type: decimal;
    display: block;
    text-indent: 1em;
    padding-inline-start: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
